{% extends "base.html" %}

{% block content %}
<main>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 p-5" style="background: linear-gradient(to right, rgba(0, 204, 255, 0.5), rgba(0, 114, 255, 0.5)), url('your-background-image.jpg'); backdrop-filter: blur(10px); border-radius: 15px;">
      <h1 class="h2 text-white text-center">Register</h1>
      <form method="post">
        {% csrf_token %}
        <div class="mt-2">
          <label class="col-form-label text-white">Username</label>
          {{ form.username }}
        </div>
        <div class="mt-2">
          <label class="col-form-label text-white">Email</label>
          {{ form.email }}
        </div>
        <div class="mt-2">
          <label class="col-form-label text-white">Password</label>
          {{ form.password1 }}
        </div>
        <div class="mt-2">
          <label class="col-form-label text-white">Confirm Password</label>
          {{ form.password2 }}
        </div>
        <div class="mt-2">
          {% if messages %}
          <ul class="success-list">
            {% for message in messages %}
            <li class="success-list">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if form.errors %}
          <ul class="error-list">
            {% for key, value in form.errors.items %}
            <li>{{ value|escape }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
